<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

  <display-name>Servlets ejemplo</display-name>
  <description>
     Servlets de ejemplo para practicar
  </description>

<!-- Publicamos nuestro servlet aqui -->

	<servlet>
        <servlet-name>BuscarLibro</servlet-name>
        <servlet-class>servlets.BuscarLibro</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BuscarLibro</servlet-name>
        <url-pattern>/BuscarLibro</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>BuscarPorAutor</servlet-name>
        <servlet-class>servlets.BuscarPorAutor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BuscarPorAutor</servlet-name>
        <url-pattern>/BuscarPorAutor</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>BuscarPorTitulo</servlet-name>
        <servlet-class>servlets.BuscarPorTitulo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BuscarPorTitulo</servlet-name>
        <url-pattern>/BuscarPorTitulo</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>DevolverLibro</servlet-name>
        <servlet-class>servlets.DevolverLibro</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DevolverLibro</servlet-name>
        <url-pattern>/DevolverLibro</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ListarUsuarios</servlet-name>
        <servlet-class>servlets.ListarUsuarios</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListarUsuarios</servlet-name>
        <url-pattern>/ListarUsuarios</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>PrestarLibro</servlet-name>
        <servlet-class>servlets.PrestarLibro</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PrestarLibro</servlet-name>
        <url-pattern>/PrestarLibro</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>VerLibro</servlet-name>
        <servlet-class>servlets.VerLibro</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VerLibro</servlet-name>
        <url-pattern>/VerLibro</url-pattern>
    </servlet-mapping>
    
<!-- Fin de la publicacion de servlets -->

</web-app>