<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

  <display-name>Servlets ejemplo</display-name>
  <description>
     Servlets de ejemplo para practicar
  </description>

<!-- Publicamos nuestro servlet aqui -->

    <servlet>
        <servlet-name>VerLibro</servlet-name>
        <servlet-class>servlets.VerLibro</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>VerLibro</servlet-name>
        <url-pattern>/VerLibro</url-pattern>
    </servlet-mapping>
        <servlet>
        <servlet-name>ListarUsuarios</servlet-name>
        <servlet-class>servlets.ListarUsuarios</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ListarUsuarios</servlet-name>
        <url-pattern>/ListarUsuarios</url-pattern>
    </servlet-mapping>
        <servlet>
        <servlet-name>Prueba1</servlet-name>
        <servlet-class>servlets.Prueba1</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Prueba1</servlet-name>
        <url-pattern>/Prueba1</url-pattern>
    </servlet-mapping>
    

<!-- Fin de la publicacion de servlets -->

</web-app>